* {
    font-family: Helvetica, sans-serif
}

body .navbar,
body footer {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

body .navbar .navbar-nav .nav-link,
body footer a {
    color: white !important;
    position: relative;
    text-decoration: none;
}

/* Estilo para los enlaces en el menú y en el footer al pasar el mouse por encima */
body .navbar .navbar-nav .nav-link::before,
body footer a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease;
}

body .navbar .navbar-nav .nav-link:hover::before,
body footer a:hover::before {
    transform: scaleX(1);
}

body .navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.footer {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: white !important;
}

#main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.card-img-top {
    width: 25% !important;
}

.footer-logo {
    max-width: 230px;
}

.slogan {
    margin-top: 1rem;
}

.footer h5 {
    margin-bottom: 1rem;
}

.footer ul {
    padding-left: 0;
}

.footer li,
.footer p {
    list-style-type: none;
    line-height: 1.5;
    color: #ddd;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .container {
    max-width: 960px;
}

.footer .row {
    text-align: center;
}

.footer .col-lg-4 {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.footer .text-center {
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
}

body footer a {
    text-decoration: none !important;
}

/* Aplicando el efecto de subrayado amarillo a los enlaces del footer */
body footer a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffc107;
    transition: width 0.3s ease;
}

body footer a:hover::before {
    width: 100%;
}

.ticket {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

.company-info {
    text-align: center;
    margin-bottom: 20px;
}

.ticket-details {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.ticket-header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.order-id,
.order-date {
    margin: 0;
}

.product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.product-name {
    flex: 2;
}

.product-amount {
    flex: 1;
    text-align: right;
}

.order-summary {
    margin-top: 10px;
}

.address,
.total-price,
.order-state {
    margin: 0;
}

/*Loggin*/
#loggin input,
textarea {
    background-color: #f6f6f6;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #f6f6f6 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

#loggin input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #000000 !important;
    outline-width: 0;
    font-weight: 400
}

@media screen and (max-width: 768px) {
    #loggin {
        padding: 7%;
    }
}

#loggin button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
}

.card3 {
    width: 50%;
}

.card2 {
    width: 50%;
    background-color: #ffc107;
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

.btn-white {
    border-radius: 50px;
    color: #000000;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 1px solid #000000 !important
}

.cardproducts {
    background-color: #343a40;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(241, 209, 0, 0.992);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardproducts:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(241, 209, 0, 0.992);
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cardproducts-body {
    padding: 15px;
    color: #ffffff;
}

.cardproducts-text {
    margin-bottom: 15px;
}

.card-title {
    margin-bottom: 15px;
    font-weight: bold;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}

.justificar {
    text-align: justify;
}

/*Card comprar*/
.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 10%;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1 .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.single-product {
    background-repeat: no-repeat;
}

.section-products .single-product .part-3 {
    position: relative;
    height: 120px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-3 .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-3 ul li a:hover {
    color: #fe302f;
}

@media screen and (max-width: 768px) {
    .section-products {
        padding: 18%;
    }

    #ocultar {
        visibility: hidden;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section-products {
        padding: 0;
    }
}

/*Card welcome*/
.section-products2 {
    padding: 80px 0 54px;
}

.section-products2 .header {
    margin-bottom: 50px;
}

.section-products2 .single-product {
    margin-bottom: 10%;
}

.section-products2 .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products2 .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products2 .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

@media screen and (max-width: 768px) {
    .section-products2 {
        padding: 18%;
    }

    #ocultar {
        visibility: hidden;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .section-products2 {
        padding: 14%;
    }
}

/*Cards producto específico*/
#specificproduct h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
}

#specificproduct img {
    max-width: 100%;
    filter: drop-shadow(1px 1px 3px #000000);
}

/* ----- Product Section ----- */
.product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: auto;
    padding: 2.5em 0;
    min-width: 600px;
    background-color: rgba(0, 0, 0, 0.9);
    background: radial-gradient(#191a1a, rgba(0, 0, 0, 0.9));
    border-radius: 5px;
}

/* ----- Photo Section ----- */
.product__photo {
    position: relative;
}

.photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.9);
}

.photo-main {
    border-radius: 6px 6px 0 0;
    background-color: white;
}

#specificproduct img {
    display: flex;
    max-width: 80%;
}

/* ----- Informations Section ----- */
.product__info {
    padding: 0.8em 0;
}

.title h1 {
    margin-bottom: 0.1em;
    font-size: 1.8em;
    font-weight: 900;
}

.title span {
    font-size: 0.9em;
}

.price {
    margin: 1.5em 0;
    color: white;
    font-size: 1.2em;
}

.price span {
    padding-left: 0.15em;
    font-size: 2.5em;
}

li:not(:first-child) {
    margin-left: 0.1em;
}

.description {
    clear: left;
    margin: 2em 0;
}

.description h3 {
    margin-bottom: 1em;
}

.description ul {
    font-size: 0.8em;
    list-style: disc;
    margin-left: 1em;
}

.description li {
    text-indent: -0.6em;
    margin-bottom: 0.5em;
}

.buy--btn {
    padding: 1em;
    border: none;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    box-shadow: 2px 2px 25px -7px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.buy--btn &:active {
    transform: scale(0.97);
}

.no-underline {
    text-decoration: none;
}

.bg-negro {
    background-color: rgba(0, 0, 0, 0.9);
}

.text-rojo {
    color: red;
}

.letrapequeña {
    font-size: 0.8em;
}


/* Estilos base para el badge */
.nav-link .badge {
    position: absolute;
    color: black;
    top: 0;
    /* Alineado con la parte superior del ícono del carrito */
    left: 18px;
    /* Distancia desde el borde izquierdo del ícono del carrito */
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media query para pantallas de hasta 991px de ancho */
@media screen and (max-width: 991px) {
    .nav-link .badge {
        top: 0;
        left: 10px;
        font-weight: bold;

    }
}

.modal-dialog textarea {
    border: 1px solid #ced4da !important;
}